.fullRound-withBorder{
   position: absolute;
   width: 100%;
   .content{
      position: relative;
      &::after{
         content: '';
         height: 100%;
         background-color: #1d1d1b;
         top: 0;
         position: absolute;
         animation-name: lines;
         animation-duration: 0.5s;
         animation-delay: 9s;
         @keyframes lines {
            0%{
               width: 100%;
               
            }
            100%{
               width: 0;
            }
         }
      }
      .fullRoundimg{
         z-index: -1;
         width: 100%;
         animation-name: fullborderRound;
         animation-duration: 7s;
         animation-delay: 9s;
         opacity: 0;
         
         @keyframes fullborderRound {
            10%{
               opacity: 1;
            }
            85%{
               opacity: 1;
            }
            100%{
               opacity: 0;
            }
         }
      }
      .tm{
         position: absolute;
         opacity: 0;
         width: 3.5%;
         top: 0px;
         right: -1%;
         animation-name: displaytm;
         animation-duration: 5s;
         animation-delay: 10.5s;
         @keyframes displaytm {
            10%{
               opacity: 1
            }
            80%{
               opacity: 1;
            }
            100%{
               opacity: 0;
            }
         }
      }
   }
} 
