.foundFull{
   width: 100%;
   position: absolute;
   top: calc(-100% - 10px);
   opacity: 0;
   animation-name: showfullfound;
   animation-delay: 13.5s;
   animation-duration: 2s;
   @keyframes showfullfound {
      20%{
         opacity: 1;
      }
      80%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}
.now{
   width: 100%;
   position: absolute;
   top: calc(100% + 10px);
   opacity: 0;
   animation-name: shownow;
   animation-delay: 14s;
   animation-duration: 1.5s;
   @keyframes shownow {
      
      10%{
         opacity: 1;
      }
      80%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}

