.foundFull{
   width: 100%;
   position: absolute;
   top: calc(-100%);
   opacity: 0;
   animation-name: showfullfound;
   animation-delay: 10.5s;
   animation-duration: 1.5s;
   @keyframes showfullfound {
      20%{
         opacity: 1;
      }
      70%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}
.now{
   width: 100%;
   position: absolute;
   top: calc(100%);
   opacity: 0;
   animation-name: shownow;
   animation-delay: 11s;
   animation-duration: 1s;
   @keyframes shownow {
      
      10%{
         opacity: 1;
      }
      70%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}

