.rgb-lines{
   opacity: 0;
   animation-name: openingLines;
   animation-duration: 5s;
   animation-delay: 5s;
   animation-timing-function: linear;
   @keyframes openingLines{
      0%{
         opacity: 1;
      }
      80%{
         opacity: 1;
      }
      90%{
         opacity: 0;
      }
   }
   .redline{
      width: 100vw;
      height: 3px;
      top: 68%;
      left: calc(-100% - 40px);
      background-color: rgb(227, 6, 19);
      position: absolute;
      animation-name: redLine;
      animation-delay: 5s;
      animation-duration: 0.5s;
      animation-timing-function: linear;
   }
   @keyframes redLine {
      0%{
         width: 0vw;
      }
      100%{
         width: 100vw;
      }
   }
   .greenline{
      width: 180vh;
      top: 50%;
      transform: translatex(-50%) rotate(120deg);
      left: 26%;    
      position: absolute;
      .line{
         position: absolute;
         height: 3px;
         width: 100%;
         background-color: rgb(82, 174, 50);
         animation-name: greenline;
         animation-timing-function: linear;
         animation-delay: 5s;
         animation-duration: 1s;
         @keyframes greenline {
            0%{
               width: 0%;
            }
            50%{
               width: 0%;
            }
            100%{
               width: 100%;
            }
         }
      }
   }
  
   .blueline{
      width: 180vh;
      top: 50%;
      transform: translatex(-50%) rotate(60deg);
      left: 34.2%;    
      position: absolute;
      .line{
         position: absolute;
         height: 3px;
         width: 100%;
         background-color: rgb(22, 159, 219);
         animation-name: blueline;
         animation-timing-function: linear;
         animation-delay: 5s;
         animation-duration: 1.5s;
         @keyframes blueline {
            0%{
               width: 0%;
            }
            66%{
               width: 0%;
            }
            100%{
               width: 100%;
            }
         }
      }
   }
}