.r-und{
   opacity: 0;
   position: absolute;
   width: 100%;
   animation-name: displaywhitheR_und;
   animation-duration: 10s;
   animation-delay: 5.5s;
   @keyframes displaywhitheR_und {
      0%{
         opacity: 0;
      }
      5%{
         opacity: 1
      }
      99%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}