.animation{
   height: 100%;
   width: 100%;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
   padding: 10px;
   @media screen and (max-width:768px){
      grid-template-columns: 1fr;
   }
   .found{
      opacity: 0;
      z-index: 0;
   }
   
   >:nth-child(20n + 8),
   >:nth-child(22n + 12),
   >:nth-child(20n + 32)
   {
      animation-name: dispayfound;
      animation-delay: 8s;
      animation-duration: 2.5s;
      @keyframes dispayfound {
         20%{
            opacity: 0.1;
         }
         100%{
            opacity: 0.1;
         }
      }
   }

   >:nth-child(20n + 3),
   >:nth-child(20n + 16){
      animation-name: dispayfound2;
      animation-delay: 8s;
      animation-duration: 2.5s;
      @keyframes dispayfound2 {
         20%{
            opacity: 0.2;
         }
         40%{
            opacity: 0;
         }
         60%{
            opacity: 0;
         }
         100%{
            opacity: 0.2;
         }
      }
   }

   >:nth-child(20n + 2),
   >:nth-child(20n + 9),
   >:nth-child(20n + 18),
   >:nth-child(20n + 20){
      animation-name: dispayfound3;
      animation-delay: 8.5s;
      animation-duration: 2s;
      @keyframes dispayfound3 {
         20%{
            opacity: 0.6;
         }
         100%{
            opacity: 0.6;
         }
      }
   }

   >:nth-child(20n + 4),
   >:nth-child(20n + 7),
   >:nth-child(20n + 14),
   >:nth-child(20n + 18),
   >:nth-child(20n + 19){
      animation-name: dispayfound4;
      animation-delay: 9s;
      animation-duration: 1.5s;
      @keyframes dispayfound4 {
         20%{
            opacity: 0.2;
         }
         100%{
            opacity: 0.2;
         }
      }
   }
   >:nth-child(20n + 6),
   >:nth-child(20n + 10),
   >:nth-child(20n + 11),
   >:nth-child(20n + 21){
      animation-name: dispayfound5;
      animation-delay: 9.5s;
      animation-duration: 1s;
      @keyframes dispayfound5 {
         20%{
            opacity: 0.5;
         }
         100%{
            opacity: 0.5;
         }
      }
   }
   >:nth-child(20n + 5),
   >:nth-child(20n + 13),
   >:nth-child(20n + 15),
   >:nth-child(20n + 17){
      animation-name: dispayfound6;
      animation-delay: 10s;
      animation-duration: 0.5s;
      @keyframes dispayfound6 {
         20%{
            opacity: 1;
         }
         100%{
            opacity: 1;
         }
      }
   }
}