.colors{
      opacity: 0;
      animation-name: colorsdisplay;
      animation-delay: 6.5s;
      animation-duration: 3.2s;
   img{
      width: 4000%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
   }
   @keyframes colorsdisplay {
      0%{
         opacity: 1;
      }
      70%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
   .masksvg{
      opacity: 0;
      animation-name: mask;
      animation-delay: 6.5s;
      animation-duration: 3.2s;
      @keyframes mask {
         0%{
            opacity: 1;
         }
         55%{
          opacity: 1;
         }
         100%{
            opacity: 0;
         }
      }
   }
   .colorssvg{
      opacity: 0;
      animation-name: colors;
      animation-delay: 6.5s;
      animation-duration: 2.5s;
      @keyframes colors {
         10%{
            opacity: 0;
            filter: blur(300px);
         }
         50%{
            opacity: 1;
         }
         100%{
            opacity: 1;
            width: 10%;
            filter: blur(30px);
         }
      }
   }
}