.full-dot{
   position: absolute;  
   top: 0;
   width: 100%;
   opacity: 0;
   animation-name: FullDotVisibility;
   animation-delay: 0.6s;
   animation-duration: 0.4s;
}
@keyframes FullDotVisibility {
   0%{
      opacity: 0;
   }
   40%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}