.full-dot{
   position: absolute;  
   width: 100%;
   opacity: 0;
   animation-name: FullDotVisibility;
   animation-delay: 2s;
   animation-duration: 1.5s;
}
@keyframes FullDotVisibility {
   0%{
      opacity: 0;
   }
   40%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}