.ø-final{
   position: absolute;
   top: 0;
   width: 100%;
   animation-name: hideFInalO;
   animation-duration: 15s;
   @keyframes hideFInalO {
      0%{
         opacity: 0;
      }
      99%{
         opacity: 0;
      }
      100%{
         opacity: 1;
      }
   }
}

.work-in-progress{
   position: absolute;
   top: 0;
   width: 100%;
   animation-name: hideWIP;
   animation-duration: 16s;
   @keyframes hideWIP {
      0%{
         opacity: 0;
      }
      99%{
         opacity: 0;
      }
      100%{
         opacity: 1;
      }
   }
}

.contacts{
   position: absolute;
   width: 100%;
   top: calc(100% + 10px);
   animation-name: hidecontacts;
   animation-duration: 16s;
   @keyframes hidecontacts {
      0%{
         opacity: 0;
      }
      99%{
         opacity: 0;
      }
      100%{
         opacity: 1;
      }
   }
}