.round-border{
   width: 100%;
   position: absolute;
   top: 0;
   opacity: 0;
   animation-name: displayroundBorder;
   animation-delay: 1.5s;
   animation-duration: 0.7s;
   @keyframes displayroundBorder {
      0%{
         opacity: 0;
      }
      30%{
         opacity: 1;
      }
      90%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
}