.white-lines{
   animation-name: whiteLines;
   animation-duration: 1s;
   animation-timing-function: linear;
   @keyframes whiteLines{
      0%{
         opacity: 1;
      }
      90%{
         opacity: 1;
      }
      100%{
         opacity: 0;
      }
   }
   .vertical{
      width: 1px;
      height: 0vh;
      top: calc(-300% - 40px);
      left: 50%;
      background-color: #fff;
      position: absolute;
      animation-name: vertical;
      animation-duration: 1s;
      animation-timing-function: linear;
   }
   @keyframes vertical {
      
      20%{
         height: 100vh;
      }
      100%{
         height: 100vh;
      }
   }
   .horizontal{
      height: 1px;
      width: 0vw;
      top: 50%;
      left: calc(-100% - 20px);
      background-color: #fff;
      position: absolute;
      animation-name: horizontalLine;
      animation-duration: 1s;
      animation-timing-function: linear;
      @media screen and (max-width:768px){
         left: -10px;
      }
   }
   
   @keyframes horizontalLine {
      20%{
         width: 0vw;
      }
      40%{
         width: 100vw;
      }
      100%{
         width: 100vw;
      }
   }
}